<div class = "jumbotron">
<div align="middle"><%= image_tag('pokemon_logo.png', align: 'center') %></div>
<% if @user %>
  <p>Hello, <%= @user.email %>, get ready to concentrate.</p>
<% else %>
  <p>"Hello, world! Get ready to concentrate."</p>
<% end %>
</div>