<h3> Active Games</h3>
<% if @games_in_progress.empty? %>
  <div class="well">
    You do not have any active games.
    <%= link_to('Start a game', new_user_game_path) %>
  </div>
<% else %>
  <%= render 'active_games' %>
<% end %>

<h3>Completed Games</h3>
<% if @completed_games.empty? %>
  <div class="well">
    You have not completed any games.
    <%= link_to('Start a game', new_user_game_path) %>
  </div>
<% else %>
  <%= render 'completed_games' %>
<% end %>