<h2>Invite your friend by adding their email</h2>
<div class = "well">
   <%= bootstrap_form_tag( url: "/users/#{@user.id}/games/new") do |f| %>
      <%= f.text_field :challenger_email %>
      <%= f.submit("Start Game") %>
   <% end %>
</div>